# ==========================================
# Build
# ==========================================

build/
out/
bin/
obj/

# ==========================================
# CMake
# ==========================================

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
build.ninja
.ninja_deps
.ninja_log
compile_commands.json
install_manifest.txt
Makefile

# ==========================================
# Compiler
# ==========================================

*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary
# ==========================================

*.tmp
*.temp
*.cache
*.bak

# ==========================================
# IDE
# ==========================================

.vscode/
.vs/
.idea/

# ==========================================
# Operating System
# ==========================================

Thumbs.db
Desktop.ini
.DS_Store

# ==========================================
# Release Output
# ==========================================

releases/

# ==========================================
# Local Config (Optional)
# ==========================================

config/*.local.json